{% extends 'base.html' %}
{% load static %}
{% load index %}
{% block body %}
{% block script_top %}
<link rel="stylesheet" href="{% static 'styles/topic.css' %}">
{% endblock %}
{% include 'navbar.html' %}
<div>
  <div class="topic">
    <h1 class="topic__name">Leyes de Newton</h1>
    <h2 class="topic__theory">Teoria</h2>
    <p class="topic_explanation">
    <b>Primera ley de Newton</b> <br>
  Un cuerpo permanecerá en su estado de movimiento rectilíneo uniforme o en estado de reposo si no se ejerce sobre él ninguna fuerza.
  Una aplicación de la primera ley de Newton será un lanzamiento de martillo atlético. Mientras el lanzador gira dentro de la jaula sujetando con un cable la bola metálica, ésta gira con un movimiento circular, consideremoslo uniforme, debido a la fuerza centrípeta que transmite el lanzador al cable. En el preciso momento en que el atleta suelta el martillo, éste adquiere un movimiento rectilíneo uniforme, ya que la fuerza actuante sobre la bola pasa a ser nula (obviemos, en el instante inicial, el movimiento parabólico debido a la componente de la gravedad). <br>
  <b>Segunda Ley de Newton</b>  <br>
  La fuerza que actúa sobre un cuerpo (o la resultante de varias fuerzas) es igual a la aceleración que produce en éste multiplicada por una constante del cuerpo mencionado, a la que llamaremos masa.  <br>
     
  A esta igualdad se la conoce como la ecuación fundamental de la Dinámica. Resume el primer y segundo principio de Newton, es decir, sin fuerza no hay cambio de velocidad (Ley de la inercia) y la aceleración es inversamente proporcional a la masa (segundo principio).
  En la vida cotidiana, podemos ver aplicada la segunda ley de Newton en el caso de conducir una furgoneta. La aceleración que podamos conseguir con la fuerza del motor cambiará sensiblemente según el vehículo vaya a plena carga o lo llevemos vacío. A más masa, menos aceleración. <br>
  <b>Tercera Ley de Newton (o ley de acción y reacción) </b>  <br>
Cuando un cuerpo ejerce una fuerza sobre otro (acción), a su vez, el segundo cuerpo determina sobre el primero una fuerza igual y opuesta (reacción). Aunque ambas fuerzas son iguales y de sentido contrario, no se anulan entre sí, ya que se aplican sobre cuerpos diferentes. 
En la vida cotidiana podemos experimentar esta ley cuando sujetamos al perro de la cadena. Si conseguimos que el animal esté quieto, la fuerza con que el perro tira de la cadena es igual y de sentido contrario a la fuerza que el dueño transmite a la cadena al sujetarla. <br>


    <h2>Ejercicios resueltos</h2>
    <div class="topic__solvedExercises">
      <button class="exercise">Ejercicio 1 <img class="exercise__icon" src="{% static 'img/triangle.svg' %}"> </button>
      <div class="exercise__solution">
        <p> Un bloque de acero tiene un peso de 30 N, y éste comienza a deslizarse sobre una superficie totalmente horizontal de madera, con ello se produce una fuerza máxima de fricción estática cuya magnitud es de 15 N, como se observa en la imagen. Calcule el coeficiente de fricción estático entre el acero y la madera.<p/>
        <img class="exercise__image" src="{% static 'img/Estatica/Screenshot_2.png' %}"></img>
        <p> Como lo que nos piden es prácticamente el coeficiente de rozamiento de fricción estática, solamente debemos recordar que en nuestra fórmula es la razón entre la fuerza estática máxima y la normal, dichos datos los tenemos<p/>
          <img class="exercise__image" src="{% static 'img/Estatica/Screenshot_3.png' %}"></img>
      </div>
      <button class="exercise">Ejercicio 2 <img class="exercise__icon" src="{% static 'img/triangle.svg' %}"> </button>
      <div class="exercise__solution">
        <p> Calcular la fuerza necesaria que se necesita aplicar a un mueble cuyo peso es de 450 N para poder deslizarlo a una velocidad constante horizontalmente, donde el coeficiente de fricción dinámico es de 0.43 <p/>
          <img class="exercise__image" src="{% static 'img/Estatica/Screenshot_4.png' %}"></img>
          <p> En este caso nos proporcionan el coeficiente de fricción dinámico, además del peso del mueble, es lógico que tendremos que utilizar la fórmula de la fuerza de fricción dinámica (ya que es opuesta a la fuerza que jala el objeto).  <br>

            Nota: El valor de la fuerza normal (N) actúa en dirección al peso, es por eso que la fuerza normal tendrá el mismo valor que el peso. Si el mueble estuviera en un plano inclinado, entonces el problema tendría más procedimientos, ya que tendríamos que descomponer en forma rectangular a los vectores del peso, para poder encontrar la normal.
            Bueno asumiendo lo dicho anteriormente, tendríamos que aplicar nuestra fórmula:
            
          <p/>
          <img class="exercise__image" src="{% static 'img/Estatica/Screenshot_5.png' %}"></img>
      </div>
    </div>
    <h2 >Ejercicios propuesto</h2>
    <div class="topic__proposedExercises">
      <button class="exercise">Ejercicio 1 <img class="exercise__icon" src="{% static 'img/triangle.svg' %}"> </button>
      <div class="exercise__solution">
        <p> Calcular la fuerza normal resultante <p/>
        <img class="exercise__image" src="{% static 'img/Estatica/Screenshot_6.png' %}"></img>
      </div>
      <button class="exercise">Ejercicio 2 <img class="exercise__icon" src="{% static 'img/triangle.svg' %}"> </button>
      <div class="exercise__solution">
        <p>Calcular velocidad<p/>
        <img class="exercise__image" src="{% static 'img/Estatica/Screenshot_7.png' %}"></img>
      </div>
    </div> 
    <a class="seeAnswers" href="#popup">Respuestas de propuestos 
      <svg class="seeAnswers__icon" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="2em" height="2em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1024 1024"><path fill="currentColor" d="M396 512a112 112 0 1 0 224 0a112 112 0 1 0-224 0zm546.2-25.8C847.4 286.5 704.1 186 512 186c-192.2 0-335.4 100.5-430.2 300.3a60.3 60.3 0 0 0 0 51.5C176.6 737.5 319.9 838 512 838c192.2 0 335.4-100.5 430.2-300.3c7.7-16.2 7.7-35 0-51.5zM508 688c-97.2 0-176-78.8-176-176s78.8-176 176-176s176 78.8 176 176s-78.8 176-176 176z"/></svg>
    </a>
  </div>
  <div id="popup" class="background">
    <div class="answers" >
      <a class="answers__close" href="#"> &times;</a>
      <ul>
        <li><b>Ejercicio 1</b>: 44.52N</li>
        <li><b>Ejercicio 2</b>: 29.68 m/s</li>
      </ul>
    </div>
  </div>
  <script src="{% static 'js/topic.js' %}"></script>
<div/>
{% endblock %}