{% extends 'base.html' %}
{% load static %}
{% load index %}

  {% block estilos%}
    <link rel="stylesheet" href="{% static 'styles/biseccion.css' %}">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
  {% endblock %}

  {% block title %}
    <title>Método Falsa Posición</title>
  {% endblock %}
{% block body %}
{% include 'navbar-noLineales.html' %}
<div class="cuerpo">
    <h1>Método Falsa posición</h1>
    <form action="/Ecuaciones-no-lineales/Falsa-Posicion" method="POST"> {% csrf_token %}
      <div class="box-input">
        <div class="input">
          <label>Input function f(x):</label> <input value="{{funcionF}}" class="i-funcion" id="funcionF" type="text" name="inputField" size="30"/> 
        </div>
        <div class="input">
          <label>Intervalo:[</label><input value="{{puntoA}}" class="intervalo" id="puntoA" type="number" name="puntoA" step="any">,<input value="{{puntoB}}" class="intervalo" id="puntoB" type="number" name="puntoB" step="any">]
        </div>

        <div class="input">
          <label>ERROR:</label>
          <input name="error" class="i-error" type="number" value="0.0001" step="any" min="0.00001" max="0.01">
        </div>
      </div>

      <div class="box-input">
        <div class="input">
          <label>Truncate: </label><input class="i-truncate" value="{{truncate}}" id="funcionF" type="text" name="truncate" size="30"/>
        </div>
      </div>

      <div class="box-botones">
        <button class="boton" onclick="evalInput(document.getElementById('funcionF').value);return false;">Mostrar Grafico</button>
        <input class="boton" type="submit" value="mostrarTabla">        
      </div>
      <div class="info">
        <div class="grafica" id="grafica">
            <div id="applet_container" ></div>
            <br>
        </div>
        <div class="tabla" id="tabla">  
          <div>
            <table class="table table-striped">
              <thead class="table-dark">
                {% for i in nCate %}
                <th>{{ cate|index:i }}</th>
                {% endfor %}
              </thead>
                {% for i in count %}
                <tr>
                  <td>{{ xi|index:i|floatformat:truncate }}</td>
                  <td>{{ xd|index:i|floatformat:truncate }}</td>
                  <td>{{ xr|index:i|floatformat:truncate }}</td>
                  <td>{{ fxi|index:i|floatformat:truncate }}</td>
                  <td>{{ fxd|index:i|floatformat:truncate }}</td>
                  <td>{{ fxr|index:i|floatformat:truncate }}</td>
                  <td>{{ err|index:i|floatformat:truncate }}</td>
                </tr>
                {% endfor %}
      
            </table>
          </div>  
        </diV>
      </div>
    </form>
 
  </div>
  <script src="{% static 'js/index.js' %}"></script>
  <script src="{% static 'js/method.js' %}"></script>
  <script type="text/javascript">
    function evalInput(strInput) {
      tabla=document.getElementById("tabla")  
      grafica =document.getElementById("grafica")
      grafica.style.display="flex";
      tabla.style.display="none";
      ggbApplet.evalCommand(strInput);
      return false;
    }
  </script>
{% endblock %}