{% extends 'base.html' %}
{% load static %}
{% load index %}
<head>
  {% block estilos%}
    <link rel="stylesheet" href="{% static 'styles/biseccion.css' %}">
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <link rel="stylesheet" href="{% static 'styles/matrices-style.css' %}">
    {% endblock %}

  {% block title %}
    <title>Método de Gauss Jordan</title>
  {% endblock %}
</head>

{% block body %}
{% include 'navbar-algebraicas.html' %}
  <div class="cuerpo">
    <h1>Método de Gauss Jordan</h1>

    Ingresar dimensión: <input class="input-dimension" id="dimension" type="number" min="3" max="6">
    <button class="b-resolver" onclick="generarMatriz()">Generar Matriz</button>

    <form>
      <div id="matrix"></div>
    </form>

    <div class="info">
        <div class="grafica" id="grafica">
            <div id="applet_container" ></div>
            <br>
        </div>

        <div id="tabla" class="d-resultado">

        </div>
    </div>
  </div>

    <script src="{% static 'js/method.js' %}"></script>
    <script src="{% static 'js/algebraicas/gauss-jordan.js' %}"></script>
    <script type="text/javascript">
    function evalInput(strInput) {
        tabla=document.getElementById("tabla")  
        grafica =document.getElementById("grafica")
        grafica.style.display="flex";
        tabla.style.display="none";
        ggbApplet.evalCommand(strInput);
        return false; 
    }
    </script>
  {% endblock %}