{% extends 'base.html' %}
{% load static %}

    {% block script_top %}
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    {% endblock %}
    {% block title %}
        <title>Mathics</title>
    {% endblock %}


    {% block body %}
    <h1>Métodos numéricos</h1>
    <div class="conteiner-metodos">
        <div class="bloque">
            <img src="{% static 'img/lineal.png'%}" alt=""><p>Ecuaciones no lineales</p>
            <a class="bloque__link" href="{% url 'noLineales:Biseccion' %}"></a>
        </div>
        <div class="bloque">
            <img src="{% static 'img/algebra.png' %}" alt=""><p>Ecuaciones algebraicas</p>
            <a class="bloque__link" href="{% url 'algebraicas:gauss_jordan_view' %}"></a>
        </div>
        <div class="bloque">
            <img src="{% static 'img/curvas.png' %}" alt=""><p>Ajustes de curvas e interpolación</p>
            <a class="bloque__link" href="{% url 'curvas:minimos_cuadrados' %}"></a>
        </div>
    </div>
    {% endblock %}



