{% load static %}
<head>
    {% block estilos%}
    <link rel="stylesheet" href="{% static 'styles/biseccion.css' %}">
    <link rel="stylesheet" href="{% static 'styles/sidebarEstilos.css' %}">
    {% endblock %}
</head>
<img src="{% static 'img/Rayas.png' %}" class="rayasFuera" id="rayitas">
<nav class="nav retroceder" id="sidebar">
    <div class="sidebar__boton">
        <h3>Métodos No Lineales</h3>
    </div>
    <ul class="list">
        <li class="list__item list__item--click">
            <div class="list__button list__button--click">
                <a href="../" class="nav__link">Menú Principal</a>
            </div>
        </li>

        <li class="list__item list__item--click">
            <div class="list__button list__button--click">
                <a href="#" class="nav__link">Métodos Cerrados</a>
                <img src="{% static 'img/arrow.svg' %}" class="list__arrow">
            </div>

            <ul class="list__show">
                <li class="list__inside">
                    <a href="/Ecuaciones-no-lineales/Biseccion" class="nav__link nav__link--inside">Método de Bisección</a>
                </li>

                <li class="list__inside">
                    <a href="/Ecuaciones-no-lineales/Falsa-Posicion" class="nav__link nav__link--inside">Método de Falsa Posición</a>
                </li>
            </ul>

        </li>

        <li class="list__item list__item--click">
            <div class="list__button list__button--click">
                <a href="#" class="nav__link">Métodos Abiertos</a>
                <img src="{% static 'img/arrow.svg' %}" class="list__arrow">
            </div>

            <ul class="list__show">
                <li class="list__inside">
                    <a href="/Ecuaciones-no-lineales/Punto-Fijo" class="nav__link nav__link--inside">Iteración de punto fijo</a>
                </li>

                <li class="list__inside">
                    <a href="/Ecuaciones-no-lineales/Newton-Raphson" class="nav__link nav__link--inside">Newton Raphson</a>
                </li>

                <li class="list__inside">
                    <a href="/Ecuaciones-no-lineales/Secante" class="nav__link nav__link--inside">Método de la secante</a>
                </li>
            </ul>

        </li>

        <li class="list__item list__item--click">
            <div class="list__button list__button--click">
                <a href="#" class="nav__link">Métodos Convencionales</a>
                <img src="{% static 'img/arrow.svg' %}" class="list__arrow">
            </div>

            <ul class="list__show">
                <li class="list__inside">
                    <a href="/Ecuaciones-no-lineales/Newton-Raphson-Modificado" class="nav__link nav__link--inside">Newton Raphson modificado</a>
                </li>

                <li class="list__inside">
                    <a href="/Ecuaciones-no-lineales/Muller" class="nav__link nav__link--inside">Método de Müller</a>
                </li>

                <li class="list__inside">
                    <a href="/Ecuaciones-no-lineales/bairstow" class="nav__link nav__link--inside">Método de Bairstow</a>
                </li>

                <li class="list__inside">
                    <a href="/Ecuaciones-no-lineales/Graeffe" class="nav__link nav__link--inside">Método de Graeffe</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<script src="{% static 'js/sidebar.js' %}"></script>
